<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="row row-center">
      <div class="col">
        <ion-list class="list card login-list">
          <ion-item class="item-divider item-positive">
            <span class="row row-no-padding">
              <span class="col-66">
                <h3 class="title light">{{'Login'|translate}}</h3>
              </span>
              <span class="col-33 text-right">
                <ion-spinner class="login-loader {{loginC.loader.cssClass}}" ng-show="loginC.loader.onLoad" icon="{{loginC.loader.loadingIcon}}"></ion-spinner>
              </span>
            </span>
          </ion-item>
          <translation-select-item></translation-select-item>
          <form name="loginC.form" ng-submit="loginC.submit()">
            <label class="item item-input">
              <input type="text" name="userName" placeholder="{{Username|translate}}" ng-model="loginC.credentials.userName" required />
            </label>
            <label class="item item-input">
              <input type="password" name="password" placeholder="{{Password|translate}}" ng-model="loginC.credentials.password" required />
            </label>
            <button class="button button-block button-positive">{{'Sign In'|translate}}</button>
          </form>
        </ion-list>
        <ion-list ng-if="loginC.service.isLoggedIn">
          <ion-item class="item-text-wrap">
            <p>You are already Logged in!</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
